.slider img{
  height: 700px;
}
.slider{
position: relative;
}
.information{
  position: absolute;
  top: 53%;
  width: 30%;
  left: 70%;
  background-color: rgba(29, 28, 27, 0.2);

}
.information h1{
  font-size: 30px;
  font-weight: 800;
  color: #ffffff;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;

}
.information p{
  color: #ffffff;
  padding: 10px;
  font-size: 20;
  font-weight: 600;
  text-align: center;


}

@media only screen and (max-width: 576px){
  .information{
    top: 70%;
    left: 5%;
    width: 90%;


  }
  .information h1{
    font-size: 20px;
    text-align: center;
  }
  .information p{
    display: none;
  }

}
  



  