.class-img:hover{
    transform: scale(1);
    transition: 1s;
    border-radius: 50%;
    box-shadow: 8px 8px 8px 8px rgb(192 132 252);
}
.class-card{
    border: 2px solid white;
    border-radius: 50px 0 50px 0;
    transition: 1s;

}
.class-card:hover{
    border-radius: 0px 50px 0px 50px;
    border: 2px solid white;
    transition: 1s;
}